<ion-header [translucent]="true">
     <ion-toolbar>
          <ion-title>Jellyfin Playlist Exporter</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
     <ion-list>
               <ion-item>
                    <ion-label>Jellyfin URL: </ion-label>
                    <ion-input class="inputField" [(ngModel)]="URL" value="URL"></ion-input>               
                    <ion-button (click)="loadUserAccounts()">Load Accounts</ion-button>
               </ion-item>

               <ion-item>
                    <ion-label>API Key: </ion-label>
                    <ion-input class="inputField" [(ngModel)]="APIKey" value="APIKey"></ion-input>               
               </ion-item>

               <ion-item *ngIf="userAccounts != null">
                    <ion-label>User Accounts: </ion-label>

                    <ion-select [(ngModel)]="currentUserID" [required]=true>
                         <ion-select-option *ngFor="let currAccount of userAccounts;trackBy: trackByFn" [value]="currAccount.Id">
                              {{ currAccount.Name }}
                         </ion-select-option>
                    </ion-select>

                    <ion-button (click)="loadPlaylists()">Load Playlists</ion-button>           
               </ion-item>

               <ion-item *ngIf="playlistsLoaded">
                    <ion-label>Select All/None: </ion-label>
                    <ion-checkbox [(ngModel)]="selectAllNone" (ionChange)="selectAllNoneChanged()"></ion-checkbox>
               </ion-item>

               <ion-item *ngIf="playlistsLoaded">
                    <ion-list id="playlistsList">
                         <ion-item *ngFor="let currPlaylist of playlists">
                              <ion-checkbox [(ngModel)]="currPlaylist.Checked"></ion-checkbox>
                              <ion-label>{{ currPlaylist.Name }}</ion-label>
                         </ion-item>
                    </ion-list>

                    <ion-button *ngIf="playlistsLoaded" (click)="exportPlaylists()">Export</ion-button>
               </ion-item>
     </ion-list>
</ion-content>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
-->