ion-button {
     --background: #673AB7;
}

ion-col {
     margin-bottom: 25px;
}
ion-header {
     margin-bottom: 25px;
}

ion-label {
     margin-left: 20px;
}

ion-toolbar {
     --background: #673AB7;
     --color: white;
}

.inputField {
  border-bottom: 1px solid black;
}